<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      {% include "titlebar.html" %}
    </header>
    <div class="body">
      <h1>
        Test a card
      </h1>
      <form method="post" id="cardnum">
        <input name="cardnum" placeholder="Input card number to test">
        <button type="submit" id="submitcard">Submit</button>
      </form>
      <p>Card is {{iscardvalid}}</p>
    </div>
  </body>
</html> 